@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --secondary-color: #ffcd74;
}

@plugin "daisyui" {
  themes: custom;
}

@plugin "daisyui/theme" {
  name: "custom";
  default: true;
  color-scheme: light;

  --color-base-100: #ffffff;
  --color-base-200: #f3f4f6;
  --color-base-300: #e5e7eb;
  --color-base-content: #171717;
  --color-primary: #1d4ed8;
  --color-primary-content: #ffffff;
  --color-secondary: #ffcd74;
  --color-secondary-content: #1f2937;
  --color-accent: #a855f7;
  --color-accent-content: #ffffff;
  --color-neutral: #1f2937;
  --color-neutral-content: #f3f4f6;
  --color-info: #0ea5e9;
  --color-info-content: #ffffff;
  --color-success: #22c55e;
  --color-success-content: #0f172a;
  --color-warning: #f97316;
  --color-warning-content: #0f172a;
  --color-error: #ef4444;
  --color-error-content: #ffffff;

  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
